#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;
    padding-bottom: 4rem;
}

#cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 100%;
    max-width: 768px;
    min-height: 700px;
    max-height: 1000px;
}

#nav-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 200px;
    width: 70%;
    max-width: 400px;
}