#main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

#welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow-wrap: break-word; */
}


#cards-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 85%;
    height: 100%;

    min-width: 450px;
    /* max-width: 768px; */
    min-height: 700px;
    max-height: 1000px;

    /* background-color: aquamarine; */
}

#nav-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 200px;
    width: 70%;
    max-width: 400px;

    /* background-color: aquamarine; */
}

#cards-container,
#nav-container {
  opacity: 0;
  transform: translateY(20px);
}


#welcome-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
#welcome-container h2 {
    font-size: 1.5rem;
    font-weight: normal;
}
#welcome-container p {
    margin-top: 2rem;

    color: var(--text-secondary);
}