#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    height: 100vh;
    width: 100vw;
    
}

#welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


#cards-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 85%;
    height: 100%;

    min-width: 320px;
    min-height: 500px;
    max-height: 1000px;
}

#nav-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 200px;
    width: 70%;
    max-width: 400px;
}

#cards-container,
#nav-container {
  opacity: 0;
  transform: translateY(20px);
}


#welcome-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
#welcome-container h2 {
    font-size: 1.5rem;
    font-weight: normal;
}
#welcome-container p {
    margin-top: 2rem;
}