#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;

    height: 100%;
    width: 100%;
    padding-bottom: 4rem;
}

#cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;

    display: none;
    
    /* max-width: 768px; */
    min-height: 700px;
    max-height: 1000px;
}

#nav-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 200px;
    width: 70%;
    max-width: 400px;

    display: none;
}

#welcome-container {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;

    height: 100%;
    width: 100%;
    padding-bottom: 4rem;
}
#welcome-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
#welcome-container h2 {
    font-size: 1.5rem;
    font-weight: normal;
}
#welcome-container p {
    margin-top: 2rem;

    color: var(--text-secondary);
}