#welcome-container {
  transition: opacity 0.8s ease, transform 0.8s ease;
  text-align: center;
  padding: 2rem;
}

#welcome-container h2 {
  font-size: 1.2rem;
  /* margin-top: 1rem; */
  font-weight: 600;
  margin-bottom: 1rem;
}

#welcome-container h3 {
  font-size: 1rem;
  /* margin-top: 3rem; */
  font-weight: normal;
}

#welcome-container.fade-out {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

#welcome-container h1,
#welcome-container h2,
#welcome-container h3,
#welcome-container #intro-magnifying-glass,
#welcome-container p {
  opacity: 0;
  transform: translateY(20px);
}

#welcome-container i {
  transition: color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

#welcome-container i.fa-solid {
  transform: scale(1.2);
  opacity: 1;
}

#welcome-container i.fa-regular {
  transform: scale(1);
  opacity: 0.6;
}

#welcome-container #intro-magnifying-glass {
  margin-top: 1rem;
  font-size: 2rem;
}

#welcome-container p {
  margin-top: 1.2rem;
}

.intro-infobox {
  margin-top: 2rem;
  text-align: center;
  

  /* border: 1px solid #777; */
  padding: 2rem;


  border-radius: var(--card-br) var(--card-br) var(--card-br) var(--card-br);   
  box-shadow: .2rem 1rem 2rem rgba(0, 0, 0, 0.15);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transform: translateY(20px);
}

.fade-in {
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
