#nav-bar {
    height: 100%;
    width: 100%;

    /* margin-bottom: 2rem; */
    /* width: 60%; */
    /* min-width: calc(var(--min-width) - 4rem); */
    /* max-width: calc(var(--max-width) - 10rem); */

    display: flex;
    justify-content: center;
    align-items: center;

    input {
        background-color: #ffffff;
        width: 100%;
        height: 3rem;
        border-radius: 1.8rem 0 0 1.8rem;
        border: 0;
        padding-left: 1.8rem;
    }

    button {
        height: 3rem;
        width: 4rem;
        border: 0;
        background-color: #ffffff;
        color: #000000;
        cursor: pointer;
        border-radius: 0 1.8rem 1.8rem 0;
        transition: background-color 0.3s ease, color 0.3s ease;
        i {
            font-size: 1.2rem;
        }
    }

    button:hover {
        background-color: var(--color-primary);
        color: #ffffff;
    }
}