#pagination-dots {
    position: absolute;
    bottom: 1.55rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    
    gap: .5rem;
}

/* @media (max-height: 840px) { 

    #pagination-dots {
        bottom: -2rem;       
    }
} */

#pagination-dots button {
    width: 10px;
    height: 10px;
    background: none;
    border: none;
    color: #ffffff;
  
    cursor: pointer;
}

#card-remove {
    position: absolute;
    right: 1rem;
    top: 1rem;

    display: flex;
}

#card-remove button {
    width: 3rem;
    height: 3rem;
    background: none;
    border: none;
    color: #ffffff;

    cursor: pointer;
    transition: color .1s ease-in;
    i {
        font-size: 2rem;
    }
}

#card-remove button:hover {
    color: rgb(255, 0, 0);
    i {
        box-shadow: 0rem 0rem 4rem rgba(255, 0, 0, 0.2);

    }
}

#nav-bar {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-radius 0.2s ease-in, margin-top 0.2s ease-in, box-shadow 0.2s ease-in;

    input {
        background-color: #ffffff;
        width: 100%;
        height: 3rem;
        border-radius: 1.8rem 0 0 1.8rem;
        border: 0;
        padding-left: 1.8rem;
    }

    button {
        height: 3rem;
        width: 4rem;
        border: 0;
        background-color: #ffffff;
        color: #000000;
        cursor: pointer;
        border-radius: 0 1.8rem 1.8rem 0;
        transition: background-color 0.3s ease, color 0.3s ease;
        i {
            font-size: 1.2rem;
        }
    }

    button:hover {
        background-color: var(--color-primary);
        color: #ffffff;
    }
}