* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --min-width: 420px;
    --max-width: 600px;

    --card-br: 3rem;
    --card-t-b-height: 4rem;
    --card-bg: #495df5;
    --card-margin-top: 4rem;

    --color-primary: #495df5;
}

body {
    background-color: #333333;
    color: #ffffff;
    font-family: roboto;

    height: 100vh;
}

#container-main {
    width: 100%;
    display: flex;
    flex-direction: column;

    min-height: 768px;
    
    
}