.card {
    position: relative;

    width: 100%;
    height: 100%;


    background-color: var(--card-bg);
    border-radius: 0 0 var(--card-br) var(--card-br);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 4rem 0 4rem 0;

    transition: border-radius 0.2s ease-in, margin-top 0.2s ease-in;

}

.card .card-date {
    font-size: 1.2rem;
}

.card .card-city {
    font-size: 2.5rem;
}

.card .card-icon {
    width: 15rem;
    object-fit: contain;
    margin-top: 3rem;
}

.card .card-temp {
    font-size: 8rem;
}

.card .card-description {
    font-size: 1.8rem;
}


@media (min-width: 768px) { 
    .card {
        border-radius: var(--card-br) var(--card-br) var(--card-br) var(--card-br);
        margin-top: 4rem;
        max-width: 1024px;
    }
}