/* Data styling*/
.weather-date {
    font-size: 1rem;
    height: 1rem;
}

.weather-city {
    margin-top: .4rem;
    font-size: 4rem;
    height: 4rem;
}

.weather-icon {
    height: 15rem;
    object-fit: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.weather-degrees {
    font-size: 8rem;
    height: 8rem;
}

.weather-description {
    margin-top: 1rem;
    font-size: 1.2rem;
    height: 2ch;
}

.card-close {
    align-self: flex-end;
    margin: .5rem;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
}

/* MAIN containers */

#container-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-data-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 229, 61, 0.489); */
}

.card-data-container .card-scroll {
    width: 8%;
    height: 100%;
    /* background-color: rgba(255, 61, 61, 0.489); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.card-data-container .card-scroll i {
    color: #ffffff;
    font-size: 0.75rem;
    cursor: pointer;
}

.card-data {
    width: 92%;
    /* background-color: rgba(255, 229, 61, 0.489); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2.5rem;
}



/* Card */
.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;

    width: var(--min-width);


    background-color: var(--card-bg);
    border-radius: 0 0 var(--card-br) var(--card-br);
}