.weather-card {

    margin-bottom: 2rem;
    background-color: var(--card-bg);
    border-radius: 0 0 var(--card-br) var(--card-br);
    width: 80%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    height: calc(100vh - 8rem);
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.weather-card-info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .weather-date {
        font-size: 1rem;
    }

    .weather-city {
        margin-top: .4rem;
        font-size: 4rem;
    }

    .weather-icon {
        width: 20rem;
        margin-top: -2rem;
        margin-bottom: -2rem;
    }

    .weather-degrees {
        font-size: 8rem;;
    }

    .weather-description {
        margin-top: -.6rem;
        font-size: 1.2rem;
    }
}
.weather-card-top {
    height: var(--card-t-b-height);
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: .5rem;
    button {
        color: #ffffff;
        background: none;
        border: none;
        cursor: pointer;
    }
    i {
        font-size: 2rem;
    }
}
.weather-card-bottom {
    height: var(--card-t-b-height);
}

#cards-container:has(.weather-card:nth-child(n+2)) .weather-card {
    border-radius: var(--card-br) var(--card-br) var(--card-br) var(--card-br);
}

#cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 8rem);
    overflow-y: auto;
}

#cards-container:has(.weather-card:nth-child(n+2)) .weather-card {
    height: calc((100vh - 8rem) / 2);
    min-height: 20rem;
}

#nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.weather-card {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.weather-card.removing {
    opacity: 0;
    transform: translateX(200px);
}